<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <label for="filterText">
        Filter:
        <input id="filterText" type="text" [(ngModel)]="filterText">    
        <button class="btn btn-primary" type="button" (click)="onAddServer()">Add Server</button>    
        <button class="btn btn-primary" type="button" (click)="onClearFilterText()">Clear Filter</button>    
      </label>      
      <hr>
      <h3>Scott was: {{scottStatus | async}}</h3>
      <hr>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter:filterText:'status' | sort:'name'"
          [ngClass]="getStatusClasses(server)">
          <span
            class="badge">
            {{ server.status }}
          </span>
          <strong>{{ server.name | shorten:16 }}</strong> | 
          {{ server.instanceType | uppercase | reverse }} | 
          {{ server.started | date:'fullDate' }}
        </li>
      </ul>
    </div>
  </div>
</div>
